@import '@/styles/variables';

.messageItem{
  padding: 12px;
  border-radius: 4px;
  background-color: $color4;
  color: $color7;
  font-size: 18px;
  font-weight: 400;
  width: 50%; 
  &:not(:last-child){
    margin-bottom: 20px;
  }

  &.myMessage{
    margin-left: auto;
  }
}