@import "@/styles/variables";

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: $color4;
  background-color: $color3;
}
